<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2>文件上传</h2>
  <hr />
  <form action="/notes" method="post" enctype="multipart/form-data">
    文件：<input type="file" name="portrait" id="file"><br />
    <hr />
    <button>提交</button>
  </form>
  <hr />
  <h2>已上传列表</h2>
  <ul>
    <% for (let i=0; i < notes.length; i++) { %>
      <li>
        <%= notes[i] %>
      </li>
      <% } %>
  </ul>
</body>

</html>
